<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Киносеансы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        {% for m in allMovieShow.getIterator %}
            <div class="col">
                <div class="movieshow text-center">
                    <div>свободных мест</div>
                    <div>{{ m.getMovieShowInfo.getFreePlace }}</div>
                    <div>{{ m.getMovieShowInfo.getMovieTitle }}</div>
                    <div>{{ m.getMovieShowInfo.getScheduleStartAt|date("H:i") }} - {{ m.getMovieShowInfo.getScheduleEndAt|date("H:i") }}</div>
                    <div><span>{{ m.getMovieShowInfo.getScheduleStartAt|date("j F") }}</span><span>{{ m.getMovieShowInfo.getMovieDuration|date("%h:%i") }}</span></div>
                    {{ form_start(m.getBookingForm) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(m.getBookingForm) }}
                    </div>

                    <div class="row">
                        <div class="col">
                            {{ form_row(m.getBookingForm.name) }}
                        </div>
                        <div class="col" id="some-custom-id">
                            {{ form_row(m.getBookingForm.phone) }}
                        </div>
                        {{ form_row(m.getBookingForm.movieShow) }}
                    </div>
                    {{ form_end(m.getBookingForm) }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>